
.featured{
    display: flex;
    justify-content: space-between;
}

h4{
    padding: 10px;
    font-size: 14px;
}
.recent{
    display: flex;
}
.b{
    
    padding: 12px;
    margin-top: 68px;
}








.d-logo{
    margin-left: -117px;
    width: 100%;
}
.girl-img{
    width: 27rem;
    margin-left: 3rem;
}
.bb{
    display: flex;
}
.orange-dash-line{
    border-bottom: 3px solid orange;
    width: 36px;
    margin-bottom: 13px;
    margin-left: 18px;
    border-radius: 1px;
}
.hero-sec-but{
    border-radius: 22px;
    padding: 12px 23px;
}
.portfolio{
    width: 102%;
    margin-top: 34px;
    margin-bottom: 136px;
}
.sec-link{
    text-decoration: none;
    color: orange;
}
.sec-head{
    width: 85%;
    font-size: 40px;
}
.a-img{
    width: 86%;
}
.date-head{
    text-align: center;
    margin: 7rem -6rem 1rem 0;
    color: gray;
}
.sec-butt{
    text-align: center;
    border-radius: 20px;
    margin-left: 30rem;
    border: 1px solid #ddc8c8;
    padding: 10px 20px;
    margin-top: 97px;
    background-color: white;
}
.sec-input{
    padding: 10px 17px;
    border: 2px solid #817f7f;
    margin: 6px 0 15px 0;
    width: 95%;
}
.sec-input-two{
    padding: 10px 17px;
    margin: 6px 0 15px 0;
    width: 95%;
}
.sec-input-three{
    padding: 10px 17px;
    margin: 6px 0 15px 0;
    height: 59%;
}
.sec-label{
    color: #817f7f;
}
.send-butt{
    padding: 10px 70px;
    border-radius: 27px;
    margin-top: 29px;
}
.footer-para{
    margin-top: 100px;
}